@model IEnumerable<Project8.Models.Enrollment>
@{
   
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Registration</h2>

<form method="post">

    Enter Course ID <input type="number" name="Course_id" id="Course_id" class="form-control" />
    <button type="submit">Submet</button>
</form>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (TempData["swal_message"] != null)
{
    <script>
    swal({
      title: "@ViewBag.title",
      text: "@TempData["swal_message"]",
      icon: "@ViewBag.icon"
    });
    </script>
}
